.nav{
     display: flex;
      align-items: center;
    justify-content: space-between;  
    height: 2.6rem;
    width: 100%;
    background-color: rgb(34, 36, 36);
}
.logo{
    padding-top:0.2rem;
    padding-inline: 1rem;
}
.logo img{
    height: 2rem;
    width: 2rem;
}

.nav-items a{
    margin-left: 2rem;
    color: white;
    text-decoration: none;
}
.acc button{
    background-color: yellow;
    width: 6rem;
    height: 1.5rem;
    border-radius:20px;
    border: none;
    margin-right: 2rem;
}
